# --- GENERAL ---
.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# --- IDEs ---
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# --- LOGS ---
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# --- ENV FILES ---
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*
!.env.example
!.env.template

# --- MOBILE (React Native / Expo) ---
mobile/node_modules/
mobile/.expo/
mobile/dist/
mobile/web-build/
mobile/dev-client-build/
mobile/.npm/
mobile/.yarn/
mobile/android/
mobile/ios/

# --- SERVER (Python) ---
server/__pycache__/
server/*.py[cod]
server/*$py.class
server/*.so
server/.Python
server/build/
server/develop-eggs/
server/dist/
server/downloads/
server/eggs/
server/.eggs/
server/lib/
server/lib64/
server/parts/
server/sdist/
server/var/
server/wheels/
server/pip-wheel-metadata/
server/share/python-wheels/
server/*.egg-info/
server/.installed.cfg
server/*.egg
server/MANIFEST

# Pyenv
server/.python-version

# Virtual environments
server/venv/
server/env/
server/ENV/
server/env.bak/
server/venv.bak/

# PyCharm
server/.idea/



cfconfig.txt